@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --body_background_color: #ebf9ff;
  --dark_color: #0F1011;
  --green_color: #008080;
  --brandLogo_color: #1F5262;
  --light_text_color: #838383;
  --light_background: #EEF1F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body_background_color) !important;
  font-family: 'Roboto', sans-serif !important;
}

.App > div {
  margin: 2rem auto;
  width: 85%;
}

.toast {
  position: absolute;
  background-color: var(--green_color);
  color: white;
  width: 20% !important;
  min-width: 100px !important;

  right: 5rem;
  top: -1rem;
  padding: 1rem;
  z-index: 100000000000000000;
}

@media(min-width: 770px) {
  .App > div {
    width: 87%;
    display: flex;
    justify-content: space-around;
  }
}

